@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 718px;
  width: 375px;
  background: url('./images/background1.png');
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  left:0px;
  top: 0px;
  
  background-position: center;
}

.main-bar {
  height: 20%;
  width: 100%;
  background-color: brown;
  display: flex;
}

.main-content {
  height: 80%;
  width: 100%;
  display: flex;
}

.main-bar .right {
  height: 100%;
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  align-items: flex-end;
}

.main-bar .left {
  height: 100%;
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 30px;
}

.container {
  position: relative;
  top: 110px;
  left: 50px;
  height: 75%;
  width: 75%;
}

.left-bar {
  height: 100%;
  width: 50%;
  background-color: blueviolet;
}

.right-bar {
  height: 100%;
  width: 50%;
  background-color: green;
}

.time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #000;
}

.logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */
  display: flex;

  /* Primary/B400 */
  color: #6070ff;
}

.title {
  /* Header / 2 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;
}

.description {
  /* Body / 2 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */
  color: #344563;
}

.connect {
  /* Body / 2 - Bolder */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */
  color: #7f8cff;
}